*,::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --font-family: 'Lato', sans-serif;
   --color-primary: #651F9E; /* Color primario */
  --color-secondary: #F2EFEF; /* Color secundario */
  --color-background: #F9F6F6; /* Color de fondo */
  --color-text: #320A52; 
  --color-bg: #52280a13; 
  --color-bg-1: #320a5218; 
  --color-bg-2: #f23ebc50; 
  --mg-0: 0.5rem;
  --step--2: clamp(0.7rem, calc(0.87rem + -0.14vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.95rem + -0.01vw), 0.94rem);
  --step-0: clamp(0.9rem, calc(1.03rem + 0.19vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.47vw), 1.67rem);
  --step-2: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.22rem);
  --step-3: clamp(1.51rem, calc(1.22rem + 1.45vw), 2.96rem);
 
}

html {
  font-size: 16px;
}
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

}
body {
  color: var(--color-text);
  line-height: 1.6;
  background: #f9f9f9;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  border-radius: 8px;
  height: auto;
}

/* Estilos Reutilizables */

.btn-1 {
  border: 5px solid var(--color-primary);
  border-radius: 4px;
}
.glass-container {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.894);
}
hr {
  margin:  4rem auto;
  height: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-bg-1);
  width: 20%;
}
.hr-2 {
  margin: 2rem auto;
  height: 8px;
  width: 40%;
}
.text-right {
  text-align: right;
}
.bp, .redes a {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 5px;
  height: 34px;
  width: 34px;
}

.d-none {
  display: none;
}

.h-v  {
  color: transparent;
}

.h-v:hover  {
  background-color: var(--color-bg);
}

.main {
  width: 80%;
} 
.hv-1 {
  width: max-content;
  position: relative;
  font-size: var(--step-0);
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0 10px;
  color: var(--color-primary);
  
}
.hv-1::after {
  content: "";
  position: absolute;
  background-color: var(--color-bg);
  height: 12px;
  width: 40%;
  left: 0;
  bottom: 6px;
  transition: 0.5s;
  z-index: -2222;
}
.hv-1:hover::after {
  width: 100%;
  z-index: -222;
  background-color: var(--color-bg-2);
}
.hv-2::after{
  width: 60%;
  background-color: #ffff0068;
}
.hv-3::after{
  width: 60%;
  background-color: #002fff68;
}
.hv-4::after{
  width: 60%;
  background-color: #ff00006d;
}



/* ==================== */


/* Estilos principales de la pagina */


/* Estilos para el header, logo, menu y boton para cambiar tema oscuro */

.home {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem auto 0;
  padding: 6rem 10px 0;
}

.header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-container {
  width:67%;
  margin: 0 auto;
  display: flex;
  padding: 12px 0 10px;
  justify-content: space-between;
  align-items: center;
}

.logo, .redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    transition: 0.5s;
}
.logo:hover, .redes a   {
  background: var(--color-primary);
}

.logo h2 {
  font-size: var(--step--1);
  color: var(--color-primary);
}

.logo:hover h2  {
  color: #fff;
}

.nav-link.active {
  border-bottom:3px solid var(--color-bg-2);
  color: var(--color-text);
}

.menu a {
  margin: 0;
  padding: 5px 10px;
  color: var(--color-text);
  font-weight: 700;
  border-radius: 4px;
  transition: background-color .5s ease;
}

.menu a:hover{
  background-color: var(--color-bg);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icons a {
  color: #0072b1;
  padding: 0 10px;
  border: 2px dashed #0072b1;
}

.hamburger-button {
  border: none;
  background-color: var(--color-primary);
  cursor: pointer;
}
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  cursor: pointer;
}
/* ==================== */


/* hero */

.hero {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
  border-radius: 4px;
  border: 4px solid transparent;
}
.hero:hover, section:hover {
  border: 4px dotted var(--color-bg);
}
.hero-i-am {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.hero-i-am h2 {
  font-size: 19px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: var(--mg-0);
}

.hero-i-am h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: var(--mg-0);
}

.hero-i-am p {
  margin-bottom: var(--mg-0);
  font-size: var(--step-0);
}

.hero-i-am a {
  border: 5px solid var(--color-primary);
  border-radius: 4px;
}
.hero-i-am a:hover {
    border: 5px solid var(--color-bg-2);
}

.hero-avatar {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.hero-img  {
  border: 4px solid var(--color-primary);
  display: block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-position: center;
  overflow: hidden;
}

.redes {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 10px;
 animation: .4s;
}
.redes a:hover {
  transform: translateY(-5px);
}

/* Acerca de */

.article {
  margin-top: 1.5rem;
  padding: 4rem 1.6rem;
  border-radius: 4px;
}
.article .title{
  font-size: var(--step-3);
}
.article .paragraph {
  padding: 10px;
  line-height: 1.6;
  margin-bottom: 0.6rem;
}
.skill h3{
  font-size: var(--step-2);
  font-weight: 700;
  text-align: center;
}
.skill-icon {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.educacion, .educacion-cmp {
  padding: 0 10px;
}
.educacion {
  text-align: right;
}

.educacion  ul li , .educacion-cmp ul li, .paragraph {
  font-size: var(--step-0);
  padding: 0 10px;
}
.educacion-cmp {
  color: var(--color-text);
}

/* section portafolio*/
section {
  border: 4px solid transparent;
  padding: 4rem 10px;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    border: 4px solid var(--color-bg);
    border-radius: 4px;
    margin: 1rem 0;
    padding: 10px;
    transition: .6s;
}
.project h2 {
  font-size: var(--step-1);
}
.project p {
  font-size: var(--step-0);  
}
.project:hover {
      border: 4px solid var(--color-primary);
}

@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}
.container-form {
  margin: 4rem auto;
 }

  /* foooter */
.home + .footer {
    position: absolute;
    bottom: 0;
}
 
  /* Estilo para el footer */
.footer {
  padding: var(--step-0);
    width: 100%;
    display: block;
    font-family: var(--font-logo);
    font-size: var(--step-0);
    font-weight: 700;
    text-align: center;
}

.container-form {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  border: 4px solid var(--color-bg);
  border-radius: 4px;
}

.container-form form {
  padding: 20px;
}

.container-form label {
  font-size: 16px;
  margin-bottom: 10px;
}

.container-form input,
.container-form textarea {
  width: 100%;
  padding: 10px;
  border: 4px solid var(--color-bg-1);
  border-radius: 4px;
  font-size: 16px;
}

.container-form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: .7s;
    border: 4px solid transparent;
}

.container-form button:hover {
  color: var(--color-text);
  background-color: #fff;
  border: 4px solid var(--color-bg-2);
}

@media (max-width: 576px) {
  .container-form {
    max-width: 100%;
  }
}

/* ==================== */


@media (max-width: 768px) {
  .home {
    margin: 2rem auto;
  }
  .header {
    top: auto; /* Quita la propiedad 'top' */
    bottom: 0;
  }
  .header-container {
     width: 88%;
  }
  /* Oculta el menú en la versión móvil */
/* Estilos para mostrar el menú en la pantalla móvil (cuando tiene la clase "show-menu") */
.menu {
  display: none;
}

.menu.show-menu {
  max-height: 500px; /* Ajusta la altura máxima según tu diseño */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px 0;
  position: absolute;
  bottom: 90px; 
  right: 0; 
  min-width: 200px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Muestra el botón de hamburguesa en la versión móvil */
.hamburger-button {
  display: block;
}

.home {
  padding: 0 10px;
}

.hero {
  padding: 10px;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}
.hero-i-am {
  width: 100%;
}
.article {
  margin: 0;
  padding: 10px;
}
.article .paragraph {
  padding: 10px 0;
}
.educacion ul li {
  padding: 5px 0;
}

.container-form {
    padding: 10px;
    margin: 1rem 0;
  }

  form h2 {
    font-size: 20px;
  }

  label {
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
  }
  .footer {
    margin-bottom: 2rem;
  }
}
